<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-dark">
            <a class="navbar-brand" href="/Employees/design1">SMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Employees" asp-action="design">List of Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Employees" asp-action="create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Employees/login">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
