
    @*<div class="text-center mt-5 mb-5">
        <h1 class="text-success">The Data You are trying to delete has been deleted Sucessfully!</h1>
        <img src="~/images/smile.png" height="130px" width="130px"/>
        <h1 class="text-capitalize text-success">congratulation!</h1>
    </div>
}*@
